.price-slider-container {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
  position: absolute;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #0d6efd; /* Bootstrap primary */
  z-index: 2;
}

.thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%; /* Important: Thumb takes full width but is invisible */
  outline: none;
  z-index: 3;
}

.thumb--left {
  z-index: 4;
}

.thumb--right {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #0d6efd;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #0d6efd;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.values {
    position: absolute;
    bottom: -25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #6c757d;
}
